body {
    background-color: bisque;
    text-align: center;
}
img {
    border: 6px solid black;
    border-radius: 200px;
    float: left;
    width: 25%;
}
.content-1 {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    background: white;
    padding: 0px 10px 0px 10px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px black;
}
.profile {
    display: block;
    margin-left: 30px;
}

.text{
    text-align: left;
    margin-top: 150px;
    margin-left: 20px;
}